<!DOCTYPE html>
<html>
  <head>
    <title> Vremenska prognoza</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> VREMENSKA PROGNOZA</h1>
  </body>
</html>
